body {
    font-family: Arial;
    width: 600px;
    margin: auto;
}

h1 {
    padding: 1cm;
    text-align: center;
    background-position: fixed;
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    background-color: skyblue;
}

input:hover{
    background-color: yellow;
}

#infosentry-section{
    text-align: center;
    padding: 60px 20px;
}

#infosentry-title{
    font-size: 42px;
    color: #1e90ff;
    margin-bottom: 20px;
}

#infosentry-description{
    font-size: 18px;
    color: white;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
}