<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/stylesheet.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Esteganografía</title>
        <link rel="icon" type="image/jpeg" href="/static/assets/favicons/placeholder.jpg"/>
    </head>

    <body>
        <header>
            <a href="/">Main</a>
            <a href="#">blank</a>
        </header>
        <h1>ESCONDINATOR</h1>
        <hr>
        <h2>Ocultar mensaje</h2>
            <form action="/hide" method="post" enctype="multipart/form-data" > <!--Para sebas, en action indicira que ruta de aplicación llamamos, acción que será post ya que el usuario envia la imágen, mensaje y contraseña hacia nuestra aplicación y luego el enctype permite que el usuario envie imágenes-->
                <input type="file" name="imagen" id="imagenInput" required :hover>
                <button type="button" onclick="quitarimgseleccionadahide()"><img src="static\assets\images\pictograma-x_764382-13928.png" alt="" width="15" height="15"></button>                
                <p id="TextCapacity"></p> <!--En este caso le pasaremos al usuario la variable max_chars desde el JS-->
                <textarea name="mensaje" id="mensajeInput" placeholder="Mensaje, no meta más de 100k carácteres ya que podria cargar los recursos del servidor, si necesita meter más utilice la opción de archivo"></textarea>
                <p id="TextRemaining"></p> <!--La cantidad de texto restante de texto disponible-->
                <p id="TextWritten"></p> <!--Cantidad de carácteres escritos-->
                <input type="file" name="file_message" accept=".txt" id="messagefile"> <!--Aquí le permitiremos al usuario introducir archivos .txt-->
                <button type="button" onclick="quitararchivoinput()"><img src="static\assets\images\pictograma-x_764382-13928.png" alt="" width="15" height="15"></button>                
                <p>El servidor podria fallar si se usan muchos carácteres, no introduzca mas de 100K carácteres a mano y menos de 4 millones de carácteres con archivos.</p>
                <h3>Introduce la Contraseña aqui:</h3>
                <input type="password" name="password" placeholder="Contraseña (Opcional)">
                <button type="submit">Ocultar</button>
            </form>

            {% if hide_error %}
            <h3>Hide Error:</h3>
            <p>{{ hide_error }}</p>
            {% endif %}

        <hr>
        <h2>Extraer mensaje</h2>
            <form action="/extract" method="post" enctype="multipart/form-data">
                <input type="file" name="imagen" required id="imagenInputExt">
                <button type="button" onclick="quitarimgseleccionadaextract()"><img src="static\assets\images\pictograma-x_764382-13928.png" alt="" width="15" height="15"></button>                
                <p></p>
                <h3>Introduce la Contraseña aqui:</h3>
                <input type="password" name="password" placeholder="Contraseña (Si tiene)">
                <button type="submit">Extraer</button>
            </form>


            {% if mensaje_extraido %} 
            <h3 class="extracted_message">Mensaje Extraido:</h3> <!--Aquí se utiliza Jinja2 para pasarle la variable al html SOLAMENTE si esta no esta vacia, o sea, si el mensaje se ha extraido de verdad-->
            <p class="extracted_message">{{ mensaje_extraido }}</p>
            {% endif %}

        <footer>

        </footer>

    </body>

    <script src="/static/JS/JS_messageinfo.js">

    </script>
    
</html>