<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Esteganografía</title>
        <link rel="stylesheet" href="/static/stylesheet.css">
    </head>

    <body>

        <h1>Titulo de Programa</h1>

        <h2>Ocultar mensaje</h2>
            <form action="/hide" method="post" enctype="multipart/form-data"> <!--Para sebas, eñ action indicira que ruta de aplicación llamamos, acción que será post ya que el usuario envia la imágen, mensaje y contraseña hacia nuestra aplicación y luego el enctype permite que el usuario envie imágenes-->
                <input type="file" name="imagen" id="imagenInput" required :hover>                
                <p id="TextCapacity"></p> <!--En este caso le pasaremos al usuario la variable max_chars desde el JS-->
                <textarea name="mensaje" id="mensajeInput" placeholder="Mensaje"></textarea>
                <p id="TextRemaining"></p>
                -
                <br><br>
                <input type="password" name="password" placeholder="Contraseña (Opcional)">
                <br><br>
                <button type="submit">Ocultar</button>
        </form>

        <hr>

        <h2>Extraer mensaje</h2>
            <form action="/extract" method="post" enctype="multipart/form-data">
                <input type="file" name="imagen" required><br><br>
                <input type="password" name="password" placeholder="Contraseña (Si tiene)"><br><br>
                <button type="submit">Extraer</button>
            </form>


            {% if mensaje_extraido %} 
            <h3>Mensaje Extraido:</h3> <!--Aquí se utiliza Jinja2 para pasarle la variable al html SOLAMENTE si esta no esta vacia, o sea, si el mensaje se ha extraido de verdad-->
            <p>{{ mensaje_extraido }}</p>
            {% endif %}

    </body>

    <script src="/static/JS/JS_messageinfo.js">

    </script>
</html>