<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/stylesheet.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Esteganografía</title>
        <link rel="icon" type="image/jpeg" href="/static/assets/favicons/placeholder.jpg"/>
    </head>

    <body>
        <header>
            
        </header>
        <h1>ESCONDINATOR</h1>
        <hr>
        <h2>Ocultar mensaje</h2>
            <form action="/hide" method="post" enctype="multipart/form-data" > <!--Para sebas, eñ action indicira que ruta de aplicación llamamos, acción que será post ya que el usuario envia la imágen, mensaje y contraseña hacia nuestra aplicación y luego el enctype permite que el usuario envie imágenes-->
                <input type="file" name="imagen" id="imagenInput" required :hover>
                <button type="button" onclick="quitarimgseleccionada()"><img src="static\assets\images\pictograma-x_764382-13928.png" alt="" width="15" height="15"></button>                
                <p id="TextCapacity"></p> <!--En este caso le pasaremos al usuario la variable max_chars desde el JS-->
                <textarea name="mensaje" id="mensajeInput" placeholder="Mensaje"></textarea>
                <p id="TextRemaining"></p> <!--La cantidad de texto restante de texto disponible-->
                
                <h3>Introduce la Contraseña aqui:</h3>
                <input type="password" name="password" placeholder="Contraseña (Opcional)">
                <button type="submit">Ocultar</button>
            </form>

            {% if hide_error %}
            <h3>Hide Error:</h3>
            <p>{{ hide_error }}</p>
            {% endif %}

        <hr>
        <h2>Extraer mensaje</h2>
            <form action="/extract" method="post" enctype="multipart/form-data">
                <input type="file" name="imagen" required>
                <p></p>
                <h3>Introduce la Contraseña aqui:</h3>
                <input type="password" name="password" placeholder="Contraseña (Si tiene)">
                <button type="submit">Extraer</button>
            </form>


            {% if mensaje_extraido %} 
            <h3>Mensaje Extraido:</h3> <!--Aquí se utiliza Jinja2 para pasarle la variable al html SOLAMENTE si esta no esta vacia, o sea, si el mensaje se ha extraido de verdad-->
            <p>{{ mensaje_extraido }}</p>
            {% endif %}

    </body>

    <footer>

    </footer>

    <script src="/static/JS/JS_messageinfo.js">

    </script>
    
</html>