<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/stylesheet.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TFG - InfoSentry</title>
        <link rel="icon" type="image/jpeg" href="/static/assets/favicons/placeholder.jpg"/>
    </head>

    <body>
        <header>
            <a href="/">Home</a>
            <a href="/escondinator">Escondinator:Ocultar</a>
            <a href="/revelar">Escondinator:Extraer</a>
        </header>
        <main id="main-content">

    <section id="infosentry-section">

        <h1 id="infosentry-title">
            Bienvenido a InfoSentry
        </h1>

        <p id="infosentry-description">
            InfoSentry es una empresa ficticia dedicada a la seguridad y protección de la información digital.
        </p>

    </section>

</main>
        <footer>
            <p>InfoSentry (al menos en esté caso) es una empresa ficticia, cualquier coincidencia en la titulación de esta empresa no es intencional</p>
        </footer>
            
    </body>



    <script src="">

    </script>
    
</html>